<b>Di che si tratta?</b>
<p>
  Questo è il mio sito web con alcune funzioni di blog, che mi permetterà di pubblicare su diverse piattaforme i materiali che produco mantenendo sempre un punto di raccolta per tutto.
</p>

<b>Eh, Shell In A Forest?</b>
<p>
Un nome un po' particolare. Puoi trovare la spiegazione nel mio post di benvenuto.
<p>
Se ne hai voglia puoi trovare i miei lavori sulle varie piattaforme seguendo i link qua sotto!
  <ul>
    <li><a href="https://www.youtube.com/channel/UCIPl6nhAo04H5Im8FZy120Q/featured?view_as=subscriber">YouTube</a></li>
    <li><a href="https://www.instagram.com/shell_in_a_forest">Instagram</a></li>
    <li><a href="https://soundcloud.com/user-15224984">Soundcloud</a></li>
  </ul>
</p>

<p>
Nel caso tu voglia contattarmi (ovviamente non per spam), puoi trovare il mio indirizzo mail nella pagina About, che è in fondo a questa schermata home.
</p>
