<b>What is this all about</b>
<p>
  This is my personal website. I maybe am not ready to have one, or maybe I am, but it's a very interesting experiment and I hope this will lead to something beautiful.
</p>

<b>Eh, Shell In A Forest?</b>
<p>
Yep, a strange but maybe a bit trivial name... But it's not that to me. You cand find more information following the link at the very bottom of the page.
<p>
If you feel like, you can check my Instagram and YouTube personal accounts following the links below.
  <ul>
    <li><a href="https://www.youtube.com/channel/UCIPl6nhAo04H5Im8FZy120Q/featured?view_as=subscriber">YouTube</a></li>
    <li><a href="https://www.instagram.com/shell_in_a_forest">Instagram</a></li>
    <li><a href="https://soundcloud.com/user-15224984">Soundcloud</a></li>
  </ul>
</p>

<p>
Mail
</p>
