<b>What is this all about</b>
<p>
  This is my personal website. I maybe am not ready to have one, or maybe I am, but it's a very interesting experiment and I hope this will lead to something beautiful.
</p>
<p>
The color combination used here comes from <a href="http://clrs.cc" target="_blank">CLRS</a>.
</p>
<b>Eh, Shell In A Forest?</b>
<p>
Yep, a strange but maybe a bit trivial name... But it's not that to me. You cand find more information following the link at the very bottom of the page.
<p>
If you feel like, you can check my Instagram and YouTube personal accounts following the links below.
  <ul>
    <li><a href="http://www.nomadicnotes.com/travel-blog/ho-chi-minh-city-cafes/">Nomadic Notes</a></li>
    <li><a href="http://nomadcapitalist.com/2016/01/11/best-cafes-in-se-asia-for-high-achieving-nomads/">Nomad Capitalist</a></li>
    <li><a href="http://www.adventurefaktory.com/vietnam-the-ultimate-saigon-cafes-list/">Adventure Faktory</a></li>
  </ul>
</p>

<p>
  A good advice though is that you should be really interested in this page while checking it, so if you're not in the mood do waht relaxes you the most, have fun, get ready and come back, I'll be happy to welcome you again
</p>
